<?xml version="1.0"?>
<config>
    <modules>
        <SOFTSS_Import>
            <version>0.1.0</version>
        </SOFTSS_Import>
    </modules>

    <global> 

        <helpers>
            <softssimport>
                <class>SOFTSS_Import_Helper</class>
            </softssimport>
        </helpers>
        <models>
            <softssimport>
                <class>SOFTSS_Import_Model</class>
            </softssimport>
        </models>
    </global>

    <frontend>
        <routers>
            <softssimport>
                <use>standard</use>
                <args>
                    <module>SOFTSS_Import</module>
                    <frontName>import</frontName>
                </args>
            </softssimport>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <softd_import>
                <schedule>
                    <cron_expr>* 3 * * *</cron_expr>
                </schedule>
                <run>
                    <model>softssimport/observer::import</model>
                </run>
            </softd_import>
        </jobs>
    </crontab>
</config>