<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <SOFTSS_Customer>
            <version>0.1.0</version>
        </SOFTSS_Customer>
    </modules>

    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                         <SOFTSS_Customer before="Mage_Customer">SOFTSS_Customer</SOFTSS_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>