/app/design/frontend/default/modern/
/app/design/frontend/default/iphone/
/skin/frontend/default/modern/
/skin/frontend/default/german/
/skin/frontend/default/iphone/
/skin/frontend/default/french/
/skin/frontend/default/blue/
!/app/code/core/
/app/locale/da_DK/
/app/locale/cs_CZ/
/app/locale/el_GR/
/app/locale/it_IT/
/app/locale/hu_HU/
/app/locale/fr_FR/
/app/locale/nb_NO/
/app/locale/nl_NL/
/app/locale/fi_FI/
/app/locale/es_ES/
!/var/resource_config.json
!/var/.htaccess
/media/
/skin/adminhtml/default/default/
/app/code/core/Mage/
/app/code/core/Zend/
!/app/design/adminhtml/default/softss/
/app/design/frontend/default/default/
/skin/frontend/default/default/
/pkginfo
/shell
/errors
/includes
/js/tiny_mce/
/LICENSE.html
/index.php
/RELEASE_NOTES.txt
/api.php
/LICENSE_AFL.txt
/php.ini.sample
/cron.php
/install.php
/mage
/get.php
/cron.sh
/index.php.sample
/favicon.ico
/LICENSE.txt
/js/spacer.gif
/js/index.php
/js/blank.html
/app/Mage.php
/app/.htaccess
/lib/
app/etc/local.xml.additional
app/etc/local.xml.template
app/etc/config.xml
app/etc/local.xml
/app/etc/modules/Mage_Connect.xml
/app/etc/modules/Mage_Compiler.xml
/app/etc/modules/Mage_Api2.xml
/app/etc/modules/Mage_ImportExport.xml
/app/etc/modules/Mage_Widget.xml
/app/etc/modules/Mage_Persistent.xml
/app/etc/modules/Mage_Captcha.xml
/app/etc/modules/Mage_All.xml
/app/etc/modules/Mage_Downloadable.xml
/app/etc/modules/Mage_Bundle.xml
/app/etc/modules/Mage_Oauth.xml
/app/etc/modules/Mage_Authorizenet.xml
/app/etc/modules/Mage_CurrencySymbol.xml
/app/etc/modules/Mage_XmlConnect.xml
/app/etc/modules/Mage_Weee.xml
/app/etc/modules/Mage_Centinel.xml
/app/etc/modules/Mage_PageCache.xml
/app/etc/modules/Mage_Api.xml
!/app/design/adminhtml/default/softss/layout/softssteasereditor.xml
!/app/design/adminhtml/default/softss/layout/softsstopseller.xml
/app/design/install/
/app/design/adminhtml/default/default/
/app/design/frontend/base/
/app/design/frontend/default/blank/
/app/code/community/Phoenix/Moneybookers/
/var/
/skin/install/
/skin/frontend/base/
/skin/frontend/default/blank/
/media/dhl/
/media/downloadable/
/media/xmlconnect/
/media/.htaccess
/downloader/
/js/extjs/
/js/flash/
/js/calendar/
/js/jscolor/
/js/scriptaculous/
/js/lib/
/js/prototype/
/js/mage/
/js/varien/
/.htaccess
/.htaccess.sample
/nbproject
