<!--@subject The serial number for your products @-->

<body bgcolor="#ffffff" style="margin:0;">

<table cellpadding="0" cellspacing="0" border="0" bgcolor="#fff" width="100%">
	<tbody>
		<th colspan="3" align="center"><a href="{{store url=""}}"><img src="{{var logo_url}}" alt="{{var logo_alt}}" width="933" height="110" style="display: block;" border="0"/></a></th>
	</tbody>
	<tr>
		<td bgcolor="#ffffff">&nbsp;</td>
		<td width="740" height="229" background="{{skin url="images/header-banner.jpg"}}">
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td height="5" colspan="2" style="font-size: 1px;"><img src="{{skin url="images/trans.gif"}}" width="10" height="5" alt="spacer"></td>
				</tr>
				<tr>
					<td>
						<table cellpadding="0" cellspacing="0" border="0" width="200">
							<tr>
								<td><img src="{{skin url="images/trans.gif"}}" width="100" height="140" alt="spacer"></td>
							</tr>
							<tr>
								<td><a style="text-decoration: none; display: block; width: 100%; height: 35px;" href="{{store url="upgrade-software.html"}}">&nbsp;</a></td>
							</tr>
						</table>
					</td>
					<td width="250">
						<table cellpadding="0" cellspacing="0" border="0" width="100%">
							<tr>
								<td width="250" height="42"><a style="text-decoration: none; display: block; width: 100%; height: 100%;" href="{{store url="upgrade-software.html"}}">&nbsp;</a></td>
							</tr><tr>
								<td width="250" height="42"><a style="text-decoration: none; display: block; width: 100%; height: 100%;" href="{{store url="upgrade-software.html"}}">&nbsp;</a></td>
							</tr><tr>
								<td width="250" height="42"><a style="text-decoration: none; display: block; width: 100%; height: 100%;" href="{{store url="upgrade-software.html"}}">&nbsp;</a></td>
							</tr><tr>
								<td width="250" height="42"><a style="text-decoration: none; display: block; width: 100%; height: 100%;" href="{{store url="upgrade-software.html"}}">&nbsp;</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td height="36" colspan="2" style="height: 36px;"><a style="text-decoration: none; display: block; width: 100%; height: 100%;" href="{{store url="upgrade-software.html"}}">&nbsp;</a></td>
				</tr>
			</table>
		</td>
		<td bgcolor="#ffffff">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3" bgcolor="#ebebeb" style="font-size: 1px;"><img src="{{skin url="images/trans.gif"}}" width="100" height="8"></td>
	</tr>
	<tr>
		<td bgcolor="#f7f7f7">&nbsp;</td>
		<td width="720" style="font-family: verdana,arial,sans-serif; font-size: 12px; line-height:22px; color:#000; padding: 10px;">
		<!-- content -->
		<h1 face="oxygen,verdana,arial,sans-serif" size="1" color="#000000" style="font-family: oxygen,verdana,arial,sans-serif; font-size: 21px; font-weight: bold; color: #333333; line-height: 22px; margin:0 0 11px 0;">
		Hello, {{var name}}
		</h1>

		<br />

		<p face="oxygen,verdana,arial,sans-serif" color="#000000" style="font-family: oxygen,verdana,arial,sans-serif; font-size: 12px; color: #000000; line-height:16px; margin:0 0 16px 0;">
                        Your payment has just been received and posted to us. In the attachment of the mail is your download purchased items. 			
                        <br />
                        We hope that we could help you and would be pleased to see you soon again as a satisfied customer in <a href=""{{store url=""}}"" style="font-weight: normal; colour: #000;"> {{var store.getFrontendName()}}</a>. <br/>
			<br />
			<br />
			If you have any questions about your order please contact us at <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#e5620a; text-decoration: none;">{{config path='trans_email/ident_support/email'}}</a> or call us at <span class="nobr">{{config path='general/store_information/phone'}}</span> Monday - Friday, 8am - 5pm PST.
		</p>			
		<br />

		<p face="oxygen,verdana,arial,sans-serif" color="#000000" style="font-family: oxygen,verdana,arial,sans-serif; font-size: 12px; color: #000000; line-height:16px; margin:0 0 16px 0;">
		
		<br />

		<font face="verdana,arial,sans-serif" color="#333333" style="font-family: verdana,arial,sans-serif; font-size: 12px; color: #333333;">
		Thank you again
		</font>

		<br />

		<img src="{{skin url="images/signature.jpg"}}" width="207" height="40" alt="signature">
		<!-- content -->
		</td>
		<td bgcolor="#f7f7f7">&nbsp;</td>
	</tr>
	<tr>
		<td bgcolor="#f7f7f7">&nbsp;</td>
		<td width="740" align="center" bgcolor="#f7f7f7">
		<p style="font-family: verdana,arial,sans-serif; font-size: 12px; line-height:22px; color:#929292;">
	         <br /><br />
		<img src="{{skin url="images/footer-banner.jpg"}}" width="542" height="146" alt="Banner" style="display: block;">
		<br />
		<a style="text-decoration: none; font-family: verdana,arial,sans-serif; font-size: 12px; color:#929292;" href="mailto:{{config path='trans_email/ident_support/email'}}" >{{config path='trans_email/ident_support/email'}}</a>
		<br />
		<a style="text-decoration: none; font-family: verdana,arial,sans-serif; font-size: 12px; color:#929292;" href="{{store url=""}}">{{store url=""}}</a>
		<br />
		{{config path='general/store_information/phone'}}
		</p>
		</td>
		<td bgcolor="#f7f7f7">&nbsp;</td>
	</tr>
</table>

</body>