<?xml version="1.0"?>
<config>
    <modules>
        <SOFTSS_Catalog>
            <version>0.1.2</version>
        </SOFTSS_Catalog>
    </modules>

    <global>
        <blocks>
            <softsscatalog><class>SOFTSS_Catalog_Block</class></softsscatalog>
            <catalog>
                <rewrite>
                    <product_list>SOFTSS_Catalog_Block_Product_List</product_list>
                </rewrite>
            </catalog>
        </blocks>

        <helpers>
            <softsscatalog><class>SOFTSS_Catalog_Helper</class></softsscatalog>
        </helpers>

        <resources>
            <softsscatalog_setup>
                <setup>
                    <module>SOFTSS_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </softsscatalog_setup>
        </resources>
    </global>
</config>