<?xml version="1.0"?>
<config>
    <modules>
        <SOFTSS_Catalog>
            <version>0.1.4</version>
        </SOFTSS_Catalog>
    </modules>

    <global>
        <blocks>
            <softsscatalog><class>SOFTSS_Catalog_Block</class></softsscatalog>
            <catalog>
                <rewrite>
                    <product_list>SOFTSS_Catalog_Block_Product_List</product_list>
                    <product_view>SOFTSS_Catalog_Block_Product_View</product_view>
                    <category_view>SOFTSS_Catalog_Block_Category_View</category_view>
                </rewrite>
            </catalog>
        </blocks>

        <helpers>
            <softsscatalog><class>SOFTSS_Catalog_Helper</class></softsscatalog>
        </helpers>

        <resources>
            <softsscatalog_setup>
                <setup>
                    <module>SOFTSS_Catalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </softsscatalog_setup>
        </resources>
    </global>

    <frontend>
        <routers>
            <softsscatalog>
                <use>standard</use>
                <args>
                    <module>SOFTSS_Catalog</module>
                    <frontName>catalog</frontName>
                </args>
            </softsscatalog>
        </routers>
    </frontend>
</config>