<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <SOFTSS_Checkout>
            <version>0.1.0</version>
        </SOFTSS_Checkout>
    </modules>

    <global>
        <blocks>
            <softsscheckout>
                <class>SOFTSS_Checkout_Block</class>
            </softsscheckout>
        </blocks>

        <models>
            <softsscheckout>
                <class>SOFTSS_Checkout_Model</class>
            </softsscheckout>
        </models>
        <helpers>
            <softsscheckout><class>SOFTSS_Checkout_Helper</class></softsscheckout>
        </helpers>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <softss_supplier_product_id/>
                        <softss_download_url/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>

    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                         <SOFTSS_Checkout before="Mage_Checkout">SOFTSS_Checkout</SOFTSS_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>    
 
</config>