<?xml version="1.0" encoding="UTF-8"?>

<config>
    <sections>
        <checkout module="checkout">
            <groups>
                <ajaxcartadd translate="label">
                    <label>Ajax Cart Add Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>150</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <collection_type translate="label">
                            <label>Associated Products Shown</label>
                            <frontend_type>select</frontend_type>
                            <source_model>softsscheckout/system_config_source_relationTypes</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Type of product list to be shown in the carousel.</comment>
                        </collection_type>
                        <collection_type_fallback translate="label">
                            <label>Fallback Associated Products Shown</label>
                            <frontend_type>select</frontend_type>
                            <source_model>softsscheckout/system_config_source_relationTypes</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Type of product list to be shown in the carousel.</comment>
                        </collection_type_fallback>
                        <item_limit translate="label comment">
                            <label>Max number of items shown in carousel</label>
                            <frontend_type>text</frontend_type>
                            <validate>validate-digits</validate>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </item_limit>
                    </fields>
                </ajaxcartadd>
                <softdistribution translate="label">
                    <label>Softdistribution Acount Data</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>160</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>                  
                        <url translate="label comment">
                            <label>Request Product Availability Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url>
                        <url_import_product_detail translate="label comment">
                            <label>Request Import Product Detail Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_import_product_detail>
                        <url_import translate="label comment">
                            <label>Request Import Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_import>
                        <import_category translate="label comment">
                            <label>Request Import Category</label>
                            <frontend_type>text</frontend_type>
                            <comment>Separate by ",".</comment>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </import_category>    
                        <url_order translate="label comment">
                            <label>Request Order Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_order>  
                        <url_order_ext translate="label comment">
                            <label>Request Extended Order Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_order_ext>     
                        <url_order_cancel translate="label comment">
                            <label>Request Order Cancel Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </url_order_cancel>                       
                        <territory translate="label comment">
                            <label>Territory</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </territory>
                        <resellerid translate="label comment">
                            <label>Reseller ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </resellerid>
                        <password translate="label comment">
                            <label>Password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </password>
                    </fields>
                </softdistribution>
            </groups>
        </checkout>
    </sections>
</config>


